// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*Panel*/

.wineReviewBox {
	display: none;
}

#logoutpanel {
	position: absolute;
	display: block;
	bottom: 0px;
	margin: auto;
	color: white;
	font-family: Georgia;
}

body {
	background-color: #B62742;
}

#addWineButton {
	display: block;
	margin: auto;
}

#bottleCreator {
	display: none;
	width: 400px;
	text-align: center;
	border: 3px solid gray;
	margin: auto;
	padding: 20px;
	background-color: rgba(225,200,200,0.5);
}

.wineListHolder {
	background-color: white;
}

.wineListHolder a {
	color: black;
}

#mainTitle, #bottleCount {
	text-align: center;
	color: white;
	font-family: 'Damion', cursive;
}



.wineTile {
	padding: 50px;
	text-align: center;
}

.wineTile:hover {
	h5 {
		color: orangered;
	}
}

.wineTile img {
	max-height: 180px;
}

.panel {
	margin: auto;
	width: 50%;
	max-width: 350px;
	height: 400px;
}

.loginPanel h1 {
	color: white;
	font-family: 'Damion', cursive;
	font-size: 74px;
}

.loginPanel {
	height: 450px;
	top: 25%;
	min-width: 250px;
	max-width: 600px;
	text-align: center;
	background-color: #942049;
	border-radius: 18px;
}

.panel form {
	text-align: center;
}

::-webkit-input-placeholder {
   color: rgba(225,225,225,0.75);
}

.panel input[type="password"], textarea {
  background-color : #942049;
  border: 1px solid black;
  color: white;
  placeholder-color: white;
}

.panel input[type="text"], textarea {
   background-color : #942049;
  border: 1px solid black;
  color: white;
}

.accountManage {
	text-align: center;
	padding-top: 16px;
}


#prefetch {
	width: 300px;
	margin: auto;
/*	text-align: center;*/
}

/*#prefetch input {
	text-align: center;
}*/







.tt-dropdown-menu {
  text-align: center;
}




span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 18px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: orangered;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

.twitter-typehead .tt-input {
	text-align: center;
}

.twitter-typeahead .tt-hint {
display: block;
color: gray;
height: 39px !important;
padding: 0.5rem !important;
font-size: 16px !important;
 line-height: 1.3 !important;
 margin: auto !important;
/* text-align: center !important; */
/*border: 1px solid transparent;*/
/* border-radius: 4px; */
}

