// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*Panel*/





.reviewContainer {
  padding: 30px;
}

.reviewCloser {
  text-align: right;
position: relative;
display: block;
top: 5px;
left: 380px;
}

.manageList {
  left: -60px !important;
top: auto;
width: inherit
}

.manageList li {
  float: right;
}

.top {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: #1d2120;
}

.manageLink {
      right: 0px !important;
      position: fixed !important;
      margin-right: 40px !important;
    }


.reviewGeneratorImageHolder {
  margin-top: 10px;
  margin-bottom: 10px;
}

.account-manager {
  right: 0px;
}

.wineReviewBox {
  display: none;
  border-radius: 5px;
  width: 400px;
  height: 480px;
  background-color: white;
  border: 1px solid black;
}

#loginbackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("cellari.jpg");
  background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}


#addWineButton {
	display: block;
	margin: auto;
}

#bottleCreator {
	display: none;
	width: 400px;
	text-align: center;
	border: 1px solid black;
	margin: auto;
	padding: 20px;
}

.wineListHolder {
    font-family: 'Karla', sans-serif;
  position: relative;
  top: 100px;
	background-color: white;
}

.wineListHolder a {
	color: black;
}

#mainTitle {
  display: inline;
	color: white;
  font-family: 'Karla', sans-serif;
  margin-left: 10px;
}


#userInfo {
  position: relative;
    color: white;
  font-family: 'Karla', sans-serif;
  float: right;
  top: 15px;
  margin-right: 10px;
}

#logout {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   text-align: center;
}

#logout a{
   color: white;
   text-decoration: none;
}

#logout a:hover {
  color: orangered;
}


.reviewadd {
  bottom: 0px;
}

.wineTile {
  font-family: 'Karla', sans-serif;
	padding: 50px;
	text-align: center;
}

.wineTile h5 {
    font-family: 'Karla', sans-serif;
}

.wineTile:hover a {
  color: orangered;
}

.wineTile img {
	max-height: 180px;
}



.panel {
	margin: auto;
	width: 50%;
	max-width: 350px;
	height: 400px;
}

.loginPanel h1 {
	color: white;
  font-weight: lighter;
	font-size: 74px;
}

.callout {
  border: none;
}

.loginPanel {
  font-family: 'Karla', sans-serif;
	height: 450px;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
	min-width: 310px;
	max-width: 600px;
	text-align: center;
	background-color: rgba(100,100,100,0.1);
  opacity: 0.95;
  padding: 30px;
  border: 1px solid white;
}

.loginPanel input {
  color: white;
  text-align: center;
  background-color: transparent !important;
}

.loginPanel label {
  color: white;
opacity: 0.7;
}


.panel form {
	text-align: center;
}

::-webkit-input-placeholder {
   color: rgba(225,225,225,0.75);
}


.accountManage {
	text-align: center;
	padding-top: 16px;
  color: #dad5e8;
}

.accountManage a {
    color: #dad5e8;
}

.accountManage a:hover {
  color: orangered;
}

a.button.success.addreview {
  color: white;
}

.button.success {
  background-color: #39564a !important;
}

.button.success:hover {
  opacity: 0.9;
}


#prefetch {
	width: 300px;
	margin: auto;
}

/*I have no idea why this is needed but don't you f***ing dare touch it...*/

#prefetch span :nth-child(1) :nth-child(2) {
   display: none;
}

.mainnav {
  border-bottom: 1px solid gray;
  font-family: 'Karla', sans-serif;
}



.bottleVintageInput {
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
}


.centered {
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 25%;
}







.tt-dropdown-menu {
  text-align: center;
}




span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 18px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: orangered;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

.twitter-typehead .tt-input {
	text-align: center;
}

.twitter-typeahead .tt-hint {
display: block;
color: gray;
height: 39px !important;
padding: 0.5rem !important;
font-size: 16px !important;
 line-height: 1.3 !important;
 margin: auto !important;
/* text-align: center !important; */
/*border: 1px solid transparent;*/
/* border-radius: 4px; */
}






